.or-style{
    width: 450px;
    height: 1px;
    border: 1px solid rgba(149, 160, 167, 1);
}
.google-sign-in{
    font-size: 35px;
    height: 100px;
    width: 400px;
    padding: 5px;
    background-color: white;
}