.or-style{
    width: 450px;
    height: 1px;
    border: 1px solid rgba(149, 160, 167, 1);
}
.google-sign-in{
    background-color: white;
    color: black;
    height: 50px;
    padding: 20px;
    width: 400px;
    font-size: 35px;
}